$def with (cle, cellulis)

<section id="intro">
<h2>Gestion des cellulis et des simulacres</h2>

<p>Identifiant de la détermination : $cle</p>

<p><a href="/pannel2">Retourner à la détermination</a></p>
</section>

<section id="list">
  <div class="center">
<form action="/cellulis" method="post">
  <ul class="outter">
    $for cel in cellulis:
        <div>
          <il><b>$cel.nom</b> <i>($cel.login)</i> &emsp;  <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="suppr1$cel.id" value="ok"><input type="checkbox" name="suppr2$cel.id" value="ok"> </il>
        </div>
        <ul class="inner">
          $for pers in cel.personnages:
              <div>
                <il><b>$pers.nom</b> &emsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="suppr1$pers.id" value="ok"/><input type="checkbox" name="suppr2$pers.id" value="ok"/></il>
              </div>
          <div>
            <il>Nouveau simulacre <select name="new$cel.id">
                <option value="none">---</option>
                <option value="bugrr">Bug de Rebirth (Selon la rune de renaissance)</option>
                <option value="bugdr">Bug de Death (Selon la rune de renaissance)</option>
                <option value="fragiler">Fragile (Selon la rune de renaissance)</option>
                <option value="quadrillar">Quadrilla de Rebirth (selon la rune de renaissance)</option>
            </select></il>
          </div>
        </ul>
    <div>
      <il>Ajouter un cellulis <input type="text" name="nomcel"></il>
    </div>
  </ul>
  <p class="center"><i>Pour supprimer un cellulis ou un simulacre, cochez les deux cases près du symbole</i> <img src="static/delete.png" height="16" width="16"></p>
  <p class="center"><input type="submit" value="Valider"></p>
</form>
</div>

</section>

