$def with (cle,cellulis,persosid,rune,subpage)

<section id="intro">
<h2>Bienvenue, Sens</h2>
</section>

<section id="account">
  <ul>
    <li><a href="logout">Déconnexion</a></li>
    <li><a href="account">Paramètres du compte</a></li>
    <li><a href="pannel">Déterminations</a></li>
  </ul>
</section>

<div id="pannelwrapper">
<section>
  <p class="center">Identifiant de la détermination : $cle (Sens)</p>



<form action="/deterneant" method="POST">
  <p class="center">Mettre fin à la détermination &emsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="suppr1" value="ok"> <input type="checkbox" name="suppr2" value="ok"> <input type="checkbox" name="suppr3" value="ok"> &emsp; <input type="submit" value="Confirmer"> &emsp; <i>(Cochez toutes les cases pour supprimer la détermination)</i></p>
  <p class="center"><i>(Attention, supprimer la détermination supprimera tous les simulacres)</i></p>
  
</form>

<form action="/pannel2" method="POST">
  <p class="center">Vue selon la rune de <select name="rune">
      $if rune == "renaissance":
          <option value="renaissance" selected>
      $else:
          <option value="renaissance">      
      Renaissance
      </option>
      $if rune == "neant":
          <option value="neant" selected>
      $else:
          <option value="neant">      
      Néant
      </option>
      $if rune == "chaos":
          <option value="chaos" selected>
      $else:
          <option value="chaos">      
      Chaos
      </option>
    </select>
    <input type="submit" value="Valider"></p>
</form>

</section>

<section id="cellulis">
  <h3>Cellulis</h3>
  <form action="/pannel2" method="POST">
    <div id="list">
      <ul class="outter">
        $for cel in cellulis:
            <li>$cel.nom ($cel.login)</li>
            <ul class="inner">
              $for pers in cel.personnages:
                 $if pers.id in persosid:
                     <li><input type="radio" name="$cel.login" value="$pers.id" checked><a href="pannel2?perso=$pers.id"> $pers.nom</a></li>
                 $else:
                     <li><input type="radio" name="$cel.login" value="$pers.id"><a href="pannel2?perso=$pers.id"> $pers.nom</a></li>   
            </ul>
      </ul>
    </div>
  <p><input type="submit" value="Vue d'ensemble"></p>
  </form>
  <p><a href="/cellulis"><input type="button" value="Gérer les cellulis"></a></p>
</section>

<section id="personnage">
  $if subpage:
      $:subpage
</section>

<div id="clear"></div>
</div>
