$def with (perso,timeout)
<form action="/recsensr" method="POST">
<div id="personnagecore">
  <h2>$perso["nom"]</h2>
  $if timeout:
      <script>
        alert("Le vecteur a été modifié depuis le dernier chargement, annulation des modifications")
      </script>
    
  <h3>Miroir</h3>

  <table>
   <tr>
     <td><b>Vie</b></td>
     <td title="$perso['viestring']">$perso["vievalue"] (<input class="smallnumber" type="number" name="vieoffset" max="50" min="0" value="$perso['vieoffset']"/>)</td>
     <td><b>Mort</b></td>
     <td title="$perso['mortstring']">$perso["mortvalue"] (<input class="smallnumber" type="number" name="mortoffset" max="50" min="0" value="$perso['mortoffset']"/>)</td>
   </tr>
   <tr>
     <td><b>Cosmo</b></td>
     <td title="$perso['cosmostring']">$perso["cosmovalue"] (<input class="smallnumber" type="number" name="cosmooffset" max="50" min="0" value="$perso['cosmooffset']"/>)</td>
     <td><b>Chaos</b></td>
     <td title="$perso['chaosstring']">$perso["chaosvalue"] (<input class="smallnumber" type="number" name="chaosoffset" max="50" min="0" value="$perso['chaosoffset']"/>)</td>
   </tr>
   <tr>
     <td><b>Création</b></td>
     <td title="$perso['creationstring']">$perso["creationvalue"] (<input class="smallnumber" type="number" name="creationoffset" max="50" min="0" value="$perso['creationoffset']"/>)</td>
     <td><b>Néant</b></td>
     <td title="$perso['neantstring']">$perso["neantvalue"] (<input class="smallnumber" type="number" name="neantoffset" max="50" min="0" value="$perso['neantoffset']"/>)</td>
   </tr>
  </table>
  
  <p><b>Points</b> <input class="largenumber" type="number" name="points" max="800" min="0" value="$perso['points']"></p>

  <h3>Ombre-pouvoirs</h3>
  <p> $perso["op"] / $perso["opM"] </p>

  <h3>Immersion</h3>

  <table>
    <tr>
      <td><b>Positive</b></td>
      <td><b>Négative</b></td>
    </tr>
    <tr>
      <td><input class="smallnumber" type="number" name="immersionP" max="20" min="0" value="$perso['immersionP']"/></td>
      <td><input class="smallnumber" type="number" name="immersionN" max="20" min="0" value="$perso['immersionN']"/></td>
    </tr>
  </table>

  <h3>Blessures</h3>

  <table>
    <tr>
      <td colspan="2"><b>Physiques</b></td>
      <td colspan="2"><b>Mentales</b></td>
    </tr>
    <tr>
      <td><b>Superficielles</b></td>
      <td>
        $for x in range(perso["bpsM"]):
            $if x < perso["bps"]:
                <input type="checkbox" name="bps$perso['id']B$x" value="ok" checked>
            $else:
                <input type="checkbox" name="bps$perso['id']B$x" value="ok">
      </td>
      <td><b>Superficielles</b></td>
      <td>
        $for x in range(perso["bmsM"]):
            $if x < perso["bms"]:
                <input type="checkbox" name="bms$perso['id']B$x" value="ok" checked>
            $else:
                <input type="checkbox" name="bms$perso['id']B$x" value="ok">
      </td>
    </tr>
    <tr>
      <td><b>Légères</b></td>
      <td>
        $for x in range(perso["bplM"]):
            $if x < perso["bpl"]:
                <input type="checkbox" name="bpl$perso['id']B$x" value="ok" checked>
            $else:
                <input type="checkbox" name="bpl$perso['id']B$x" value="ok">
      </td>
      <td><b>Légères</b></td>
      <td>
        $for x in range(perso["bmlM"]):
            $if x < perso["bml"]:
                <input type="checkbox" name="bml$perso['id']B$x" value="ok" checked>
            $else:
                <input type="checkbox" name="bml$perso['id']B$x" value="ok">
      </td>
    </tr>
    <tr>
      <td><b>Graves</b></td>
      <td>
        $for x in range(perso["bpgM"]):
            $if x < perso["bpg"]:
                <input type="checkbox" name="bpg$perso['id']B$x" value="ok" checked>
            $else:
                <input type="checkbox" name="bpg$perso['id']B$x" value="ok">
      </td>
      <td><b>Graves</b></td>
      <td>
        $for x in range(perso["bmgM"]):
            $if x < perso["bmg"]:
                <input type="checkbox" name="bmg$perso['id']B$x" value="ok" checked>
            $else:
                <input type="checkbox" name="bmg$perso['id']B$x" value="ok">
      </td>
    </tr>
    <tr>
      $if perso["resplioideM"] > 0:
          <td colspan="2"><b>Resplioïde</b></td>
          <td colspan="2">
            $for x in range(perso["resplioideM"]):
                $if x < perso["resplioideb"]:
                    <input type="checkbox" name="resplioide$perso['id']B$x" value="ok" checked>
                $else:
                    <input type="checkbox" name="resplioide$perso['id']B$x" value="ok">
          </td>
      $else:
          <td colspan="2"><b>Carapace</b></td>
          <td colspan="2">Les blessures mortelles sont transformées en blessures légères.</td>
    </tr>
  </table>

  <h3>Faits du simulacre</h3>
  $for fait in perso["faits"]:
      <hr><br/>
      <p>$:fait["prive"] &nbsp; &nbsp; <b>$fait["n"] . $fait["texte"]</b></p>

      <p>Vie <input class="smallnumber" type="number" name="vie$fait['id']" max="10" min="0" value="$fait['vie']"> 
        Mort <input class="smallnumber" type="number" name="mort$fait['id']" max="10" min="0" value="$fait['mort']">
        Cosmo <input class="smallnumber" type="number" name="cosmo$fait['id']" max="10" min="0" value="$fait['cosmo']">
        Chaos <input class="smallnumber" type="number" name="chaos$fait['id']" max="10" min="0" value="$fait['chaos']">
        Création <input class="smallnumber" type="number" name="creation$fait['id']" max="10" min="0" value="$fait['creation']">
        Néant <input class="smallnumber" type="number" name="neant$fait['id']" max="10" min="0" value="$fait['neant']">
      </p>

  <hr>

  <h3>Liens</h3>

  <p><b>Points</b> <input class="largenumber" type="number" name="liens" max="200" min="0" value="$perso['liensp']"></p>
  $for lien in perso["liens"]:
      <p>$:lien["prive"] &nbsp; &nbsp; <b>Je suis lié à $lien["cible"] ($lien["valeur"])</b></p>

  <h3><img style="vertical-align: middle;" src="static/private.png" height="32" width="32" alt="privé"> &nbsp; Objectifs</h3>

  $for obj in perso["objectifs"]:
      <p>$obj["texte"]</p>

  $if perso["resplioideM"]>0:
      <h3><img style="vertical-align: middle;" src="static/public.png" height="32" width="32" alt="publique"> &nbsp; Ma resplioïde</h3>

      <p><b>Ma resplioïde me protège de <input class="smallnumber" type="number" name="respb" max="50" min="0" value="$perso['resplioideM']"> blessures mortelles</b></p>

      <p><b>L'arme de ma resplioïde inflige <input class="smallnumber" type="number" name="respd" max="20" min="0" value="$perso['resplioideD']"> blessures mortelles</b></p>

      $for fait in perso["resplioide"]:
          <p><b>$fait["texte"]</b></p>
          
    <h3>Autres faits extra-personnels</h3>
    $for fait in perso["efaits"]:
        <p>$:fait["prive"] &nbsp; &nbsp; <b>$fait["texte"]</b></p>
    
    <h3><img style="vertical-align: middle;" src="static/private.png" height="32" width="32" alt="privé"> &nbsp; Faits de cellulis</h3>    

    $for fait in perso["cfaits"]:
        <p>$fait["texte"]</p>

</div>
<div id="personnagebuttons">
  
  <p><b>Actualiser</b></p>
  <p><a href="/pannel2"><input type="button" value="Actualiser"></a></p>

  <p><b>Enregistrer</b></p>
  <p><input type="submit" value="Enregistrer"></p>

  <p><b>Exporter</b></p>
  <p><a href="/export?perso=$perso['id']"><input type="button" value="Exporter"></a></p>

</div>
</form>
