$def with (persos,timeout)

<form action="/recensembler" method="POST">
  <div id="personnagecore">
  $if timeout:
      <script>
        alert("Le vecteur a été modifié depuis le dernier chargement, annulation des modifications")
      </script>
  $for pers in persos:
      <h2>$pers["nom"]</h2>
      <table>
        <tr>
          <td><b>Vie</b></td>
          <td title="$pers['viestring']">$pers["vievalue"]</td>
          <td><b>Mort</b></td>
          <td title="$pers['mortstring']">$pers["mortvalue"]</td>
        </tr>
        <tr>
          <td><b>Cosmo</b></td>
          <td title="$pers['cosmostring']">$pers["cosmovalue"]</td>
          <td><b>Chaos</b></td>
          <td title="$pers['chaosstring']">$pers["chaosvalue"]</td>
        </tr>
        <tr>
          <td><b>Création</b></td>
          <td title="$pers['creationstring']">$pers["creationvalue"]</td>
          <td><b>Néant</b></td>
          <td title="$pers['neantstring']">$pers["neantvalue"]</td>
        </tr>
      </table>
      
      <h3>Blessures</h3>

      <table>
        <tr>
          <td colspan="2"><b>Physiques</b></td>
          <td colspan="2"><b>Mentales</b></td>
        </tr>
        <tr>
          <td><b>Superficielles</b></td>
          <td>
            $for x in range(pers["bpsM"]):
                $if x < pers["bps"]:
                    <input type="checkbox" name="bps$pers['id']B$x" value="ok" checked>
                $else:
                    <input type="checkbox" name="bps$pers['id']B$x" value="ok">
          </td>
          <td><b>Superficielles</b></td>
          <td>
            $for x in range(pers["bmsM"]):
                $if x < pers["bms"]:
                    <input type="checkbox" name="bms$pers['id']B$x" value="ok" checked>
                $else:
                    <input type="checkbox" name="bms$pers['id']B$x" value="ok">
          </td>
        </tr>
        <tr>
          <td><b>Légères</b></td>
          <td>
            $for x in range(pers["bplM"]):
                $if x < pers["bpl"]:
                    <input type="checkbox" name="bpl$pers['id']B$x" value="ok" checked>
                $else:
                    <input type="checkbox" name="bpl$pers['id']B$x" value="ok">
          </td>
          <td><b>Légères</b></td>
          <td>
            $for x in range(pers["bmlM"]):
                $if x < pers["bml"]:
                    <input type="checkbox" name="bml$pers['id']B$x" value="ok" checked>
                $else:
                    <input type="checkbox" name="bml$pers['id']B$x" value="ok">
          </td>
        </tr>
        <tr>
          <td><b>Graves</b></td>
          <td>
            $for x in range(pers["bpgM"]):
                $if x < pers["bpg"]:
                    <input type="checkbox" name="bpg$pers['id']B$x" value="ok" checked>
                $else:
                    <input type="checkbox" name="bpg$pers['id']B$x" value="ok">
          </td>
          <td><b>Graves</b></td>
          <td>
            $for x in range(pers["bmgM"]):
                $if x < pers["bmg"]:
                    <input type="checkbox" name="bmg$pers['id']B$x" value="ok" checked>
                $else:
                    <input type="checkbox" name="bmg$pers['id']B$x" value="ok">
          </td>
        </tr>
        <tr>
          $if pers["resplioideM"] > 0:
              <td colspan="2"><b>Resplioïde</b></td>
              <td colspan="2">
                $for x in range(pers["resplioideM"]):
                    $if x < pers["resplioideb"]:
                        <input type="checkbox" name="resplioide$pers['id']B$x" value="ok" checked>
                    $else:
                        <input type="checkbox" name="resplioide$pers['id']B$x" value="ok">
              </td>
          $else:
              <td colspan="2"><b>Carapace</b></td>
              <td colspan="2">Les blessures mortelles sont transformées en blessures légères.</td>
        </tr>
      </table>
      <br/>
      $if pers["resplioideM"] > 0:
           <p><b>L'arme de ma resplioïde inflige $pers["resplioideD"] blessures mortelles</b></p>
      
</div>
<div id="personnagebuttons">

  <p><b>Actualiser</b></p>
  <p><a href="/pannel2"><input type="button" value="Actualiser"></a></p>

  <p><b>Enregistrer</b></p>
  <p><input type="submit" value="Enregistrer"></p>
</div>
</form>
