$def with (form,error)

<section id="intro">
$if error:
    <h2>Erreur d'intégration des cellulis</h2>
    <p>Aucun cellulis reconnu.</p>
    <p>Veuillez indiquer de nouveaux cellulis</p>
$else:
    <h2>Programme renaissance enclenché</h2>

    <p>Présence détectée</p>
    <p>Présence détéctée en cours de détermination</p>
    <p>Déterminé : </p>
    <p>-- Renaît - Sens ---</p>

</section>
<section>
  <div class="center">
    <h3 class="center">Intégration des cellulis</h3>

    <form action="creation" method="post">
      $:form.render()
      <p class="center"><input type="submit" value="Déterminer"></p>
    </form>
  </div>
</section>
