$def with (nom,determinations)


<section id="intro">
  <h2>Bienvenue, $nom</h2>
</section>

<section id="account">
  <ul>
    <li><a href="logout">Déconnexion</a></li>
    <li><a href="account">Paramètres du compte</a></li>
    <li class="selected"><a href="#">Déterminations</a></li>
  </ul>
</section>

<section>
  <div class="lcenter">
    <h3>Vous êtes intégré(e) dans ces déterminations:</h3>
  </div>
  <div class="scenter">
    <div id="list">
    <ul class="outter">
      $for d in determinations[0]:
          <div><il><a href="/pannel2?id=$d[1]&type=sens">$d[0]</a>  <b>($d[2])</b></il></div>
      $for d in determinations[1]:
          <div><il><a href="/pannel2?id=$d[1]&type=cellulis">$d[0]</a>  <b>($d[2])</b></il></div>
    </ul>
    </div>
  </div>
</section>

<section>
<p class="center"><a href="creation">Ouvir les runes et commencer une nouvelle détermination</a></p>
</section>
