$def with (perso)

<div id="pannelwrapper">
<section id="cellulis">
</section>
<section id="personnage">
<div id="personnagecore">
<form action="/recbugrcel" method="post">
<h2> Nom : <input class="nom" type="text" name="nom" value="$perso.nom"></h2>
    
    <h3>Miroir</h3>

    <table>
      <tr>
        <td>Vie</td>
        <td>$perso.vie</td>
        <td>Mort</td>
        <td>$perso.mort</td>
      </tr>
      <tr>
        <td>Cosmo</td>
        <td>$perso.cosmo</td>
        <td>Chaos</td>
        <td>$perso.chaos</td>
      </tr>
      <tr>
        <td>Création</td>
        <td>$perso.creation</td>
        <td>Néant</td>
        <td>$perso.neant</td>
      </tr>
    </table>


    <h3>Ombre-pouvoir</h3>
    <p> $perso.op
      / $perso.opM</p>
                     
    <h3>Immersion</h3>

    <table>
      <tr>
        <td>Positive</td>
        <td>Négative</td>
      </tr>
      <tr>
        <td>$perso.immersionP</td>
        <td>$perso.immersionN</td>
      </tr>
    </table>

    <h3>Blessures</h3>
    
    <table>
      <tr>
        <td colspan="2"><b>Physiques</b></td>
        <td colspan="2"><b>Mentales</b></td>
      </tr>
      <tr>
        <td><b>Superficielles</b></td>
        <td> 
          $for x in range(perso.bpsM):
              $if x < perso.bps:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
        <td><b>Superficielles</b></td>
        <td>
          $for x in range(perso.bmsM):
              $if x < perso.bms:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
      </tr>
      <tr>
        <td><b>Légères</b></td>
        <td>
          $for x in range(perso.bplM):
              $if x < perso.bpl:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
        <td><b>Légères</b></td>
        <td>
          $for x in range(perso.bmlM):
              $if x < perso.bml:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
      </tr>
      <tr>
        <td><b>Graves</b></td>
        <td>
          $for x in range(perso.bpgM):
              $if x < perso.bpg:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
        <td><b>Graves</b></td>
        <td>
          $for x in range(perso.bmgM):
              $if x < perso.bmg:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
      </tr>
    </table>
    
    <h3>Faits du simulacre</h3>

    $for fait in perso.faits:
        <hr><br/>
        <p><b>$fait["n"] . $fait["texte"]</b> ($fait["prive"])</p>
    <p></p>
    <p><b>Nouveaux faits</b></p>
    <p><input type="text" name="fnew0">  (privé <input type="checkbox" name="fnew1prive" value="ok" checked>)</p>
    <p><input type="text" name="fnew1">  (privé <input type="checkbox" name="fnew2prive" value="ok" checked>)</p>
    <p><input type="text" name="fnew2">  (privé <input type="checkbox" name="fnew3prive" value="ok" checked>)</p>
    <p><input type="text" name="fnew3">  (privé <input type="checkbox" name="fnew4prive" value="ok" checked>)</p>
    <p><input type="text" name="fnew4">  (privé <input type="checkbox" name="fnew3prive" value="ok" checked>)</p>

    $if perso.liensp > 0:
        <h3>Liens</h3>

        <p><b><i>Points restants : $perso.lienspr</i></b></p>

        
        $for lien in perso.liens:
            <p>Je suis lié à $lien.cible (<input class="smallnumber" type="number" name="lien$lien.id" max="10" min="0" value="$lien.valeur">)</p>
        <p>Je suis lié à <input type="text" class="nom" name="lnew0"> (<input class="smallnumber" type="number" name="vlnew0" max="10" min="1" value="1">)</p>
        <p>Je suis lié à <input type="text" class="nom" name="lnew1"> (<input class="smallnumber" type="number" name="vlnew1" max="10" min="1" value="1">)</p>

            
    <h3>Faits extra-personnels</h3>
    
    $for fait in perso.efaits:
        <p>$fait.texte &emsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="esuppr$fait.id" value="ok"></p>
    <p><b>Nouveaux faits</b></p>
    <p><input type="text" name="enew0"></p>
    <p><input type="text" name="enew1"></p>
    
    <h3>Faits de cellulis</h3>    

    $for fait in perso.cfaits:
        <p>$fait.texte &emsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="csuppr$fait.id" value="ok"></p>
    <p><b>Nouveaux faits</b></p>
    <p><input type="text" name="cnew0"></p>
    <p><input type="text" name="cnew1"></p>
    <p><input type="text" name="cnew2"></p>
</div>
<div id="personnagebuttons">

  <p><b>Abandonner</b></p>
  <p><a href="/pannel2"><input  type="button" value="Retour"></a></p>
  
  <p><b>Enregistrer</b></p>
  <p><input type="submit" value="Enregistrer"></p>
  </form>

</div>
</section>
<div id="clear"></div>
</div>
