$def with (perso)
<div id="personnagecore">
<h2>$perso["nom"]</h2>

    <h3>Miroir</h3>

    <table>
      <tr>
        <td><b>Vie</b></td>
        <td title="$perso['viestring']">$perso["vievalue"]</td>
        <td><b>Mort</b></td>
        <td title="$perso['mortstring']">$perso["mortvalue"]</td>
      </tr>
      <tr>
        <td><b>Cosmo</b></td>
        <td title="$perso['cosmostring']">$perso["cosmovalue"]</td>
        <td><b>Chaos</b></td>
        <td title="$perso['chaosstring']">$perso["chaosvalue"]</td>
      </tr>
      <tr>
        <td><b>Création</b></td>
        <td title="$perso['creationstring']">$perso["creationvalue"]</td>
        <td><b>Néant</b></td>
        <td title="$perso['neantstring']">$perso["neantvalue"]</td>
      </tr>
    </table>
    
    <h3>Ombre-pouvoir</h3>
    <p> $perso["op"] / $perso["opM"] </p>
                     
    <h3>Immersion</h3>

    <table>
      <tr>
        <td><b>Positive</b></td>
        <td><b>Négative</b></td>
      </tr>
      <tr>
        <td>$perso["immersionP"]</td>
        <td>$perso["immersionN"]</td>
      </tr>
    </table>

    <h3>Blessures</h3>
    
    <table>
      <tr>
        <td colspan="2"><b>Physiques</b></td>
        <td colspan="2"><b>Mentales</b></td>
      </tr>
      <tr>
        <td><b>Superficielles</b></td>
        <td> 
          $for x in range(perso["bpsM"]):
              $if x < perso["bps"]:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
        <td><b>Superficielles</b></td>
        <td>
          $for x in range(perso["bmsM"]):
              $if x < perso["bms"]:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
      </tr>
      <tr>
        <td><b>Légères</b></td>
        <td>
          $for x in range(perso["bplM"]):
              $if x < perso["bpl"]:
                  <img src="static/fulldot.png" height="16" width="16">
              $else:
                  <img src="static/emptydot.png" height="16" width="16">
        </td>
        <td><b>Légères</b></td>
        <td>
          $for x in range(perso["bmlM"]):
              $if x < perso["bml"]:
                 <img src="static/fulldot.png" height="16" width="16">
              $else:
                 <img src="static/emptydot.png" height="16" width="16">
        </td>
      </tr>
      <tr>
        <td><b>Graves</b></td>
        <td>
          $for x in range(perso["bpgM"]):
              $if x < perso["bpg"]:
                 <img src="static/fulldot.png" height="16" width="16">
              $else:
                 <img src="static/emptydot.png" height="16" width="16">
        </td>
        <td><b>Graves</b></td>
        <td>
          $for x in range(perso["bmgM"]):
              $if x < perso["bmg"]:
                 <img src="static/fulldot.png" height="16" width="16">
              $else:
                 <img src="static/emptydot.png" height="16" width="16">
        </td>
      </tr>
      <tr>
        $if perso["resplioideM"] > 0:
            <td colspan="2"><b>Resplioïde</b></td>
            <td colspan="2">
            $for x in range(perso["resplioideM"]):
                $if x < perso["resplioideb"]:
                    <img src="static/fulldot.png" height="16" width="16">
                $else:
                    <img src="static/emptydot.png" height="16" width="16">
            </td>
        $else:
            <td colspan="2"><b>Carapace</b></td>
            <td colspan="2">Les blessures mortelles sont transformées en blessures légères.</td>
      </tr>
    </table>
    
    <h3>Faits du simulacre</h3>

    $for fait in perso["faits"]:
        <p>$fait["texte"] </p>

    $if perso["liensp"] > 0:
        <h3>Liens</h3>

        $for lien in perso["liens"]:
            <p>Je suis lié à $lien["cible"] ($lien["valeur"])</p>

    $if perso["resplioideM"]>0:
        <h3>Ma resplioïde</h3>        
  
        <p>Ma resplioïde me protège de $perso["resplioideM"] blessures mortelles</p>
           
        <p>L'arme de ma resplioïde inflige $perso["resplioideD"] blessures mortelles</p>

        $for rfait in perso["resplioide"]:
            <p>$rfait["texte"]</p>

    <h3>Autres faits extra-personnels</h3>
    
    $for fait in perso["efaits"]:
        <p>$fait["texte"]</p>

</div>
<div id="personnagebuttons">

  <p><b>Actualiser</b></p>
  <p><a href="/pannel2"><input type="button" value="Actualiser"></a></p>
  
</form>
</div>

