$def with (perso,timeout)
<div id="personnagecore">
  $if timeout:
      <script>
        alert("Le vecteur a été modifié depuis le dernier chargement, annulation des modifications")
      </script>
<h2>$perso["nom"]</h2>

    <h3>Miroir</h3>

    <table>
      <tr>
        <td><b>Vie</b></td>
        <td title="$perso['viestring']">$perso["vievalue"]</td>
        <td><b>Mort</b></td>
        <td title="$perso['mortstring']">$perso["mortvalue"]</td>
      </tr>
      <tr>
        <td><b>Cosmo</b></td>
        <td title="$perso['cosmostring']">$perso["cosmovalue"]</td>
        <td><b>Chaos</b></td>
        <td title="$perso['chaosstring']">$perso["chaosvalue"]</td>
      </tr>
      <tr>
        <td><b>Création</b></td>
        <td title="$perso['creationstring']">$perso["creationvalue"]</td>
        <td><b>Néant</b></td>
        <td title="$perso['neantstring']">$perso["neantvalue"]</td>
      </tr>
    </table>
    
    <form action="/reccellulisr" method="post">

    <h3>Ombre-pouvoir</h3>
    <p> <input class="largenumber" type="number" name="op" max="$perso['opM']" min="0" value="$perso['op']">
      / $perso["opM"]</p>
                     
    <h3>Immersion</h3>

    <table>
      <tr>
        <td><b>Positive</b></td>
        <td><b>Négative</b></td>
      </tr>
      <tr>
        <td>$perso["immersionP"]</td>
        <td>$perso["immersionN"]</td>
      </tr>
    </table>

    <h3>Blessures</h3>
    
    <table>
      <tr>
        <td colspan="2"><b>Physiques</b></td>
        <td colspan="2"><b>Mentales</b></td>
      </tr>
      <tr>
        <td><b>Superficielles</b></td>
        <td> 
          $for x in range(perso["bpsM"]):
              $if x < perso["bps"]:
                  <input type="checkbox" name="bps$perso['id']B$x" value="ok" checked>
              $else:
                  <input type="checkbox" name="bps$perso['id']B$x" value="ok">
        </td>
        <td><b>Superficielles</b></td>
        <td>
          $for x in range(perso["bmsM"]):
              $if x < perso["bms"]:
                  <input type="checkbox" name="bms$perso['id']B$x" value="ok" checked>
              $else:
                  <input type="checkbox" name="bms$perso['id']B$x" value="ok">
        </td>
      </tr>
      <tr>
        <td><b>Légères</b></td>
        <td>
          $for x in range(perso["bplM"]):
              $if x < perso["bpl"]:
                  <input type="checkbox" name="bpl$perso['id']B$x" value="ok" checked>
              $else:
                  <input type="checkbox" name="bpl$perso['id']B$x" value="ok">
        </td>
        <td><b>Légères</b></td>
        <td>
          $for x in range(perso["bmlM"]):
              $if x < perso["bml"]:
                  <input type="checkbox" name="bml$perso['id']B$x" value="ok" checked>
              $else:
                  <input type="checkbox" name="bml$perso['id']B$x" value="ok">
        </td>
      </tr>
      <tr>
        <td><b>Graves</b></td>
        <td>
          $for x in range(perso["bpgM"]):
              $if x < perso["bpg"]:
                  <input type="checkbox" name="bpg$perso['id']B$x" value="ok" checked>
              $else:
                  <input type="checkbox" name="bpg$perso['id']B$x" value="ok">
        </td>
        <td><b>Graves</b></td>
        <td>
          $for x in range(perso["bmgM"]):
              $if x < perso["bmg"]:
                  <input type="checkbox" name="bmg$perso['id']B$x" value="ok" checked>
              $else:
                  <input type="checkbox" name="bmg$perso['id']B$x" value="ok">
        </td>
      </tr>
      <tr>
        $if perso["resplioideM"] > 0:
            <td colspan="2"><b>Resplioïde</b></td>
            <td colspan="2">
              $for x in range(perso["resplioideM"]):
                  $if x < perso["resplioideb"]:
                      <input type="checkbox" name="resplioide$perso['id']B$x" value="ok" checked>
                  $else:
                      <input type="checkbox" name="resplioide$perso['id']B$x" value="ok">
            </td>
        $else:
            <td colspan="2"><b>Carapace</b></td>
            <td colspan="2">Les blessures mortelles sont transformées en blessures légères.</td>
      </tr>
    </table>
    
    <h3>Faits du simulacre</h3>

    $for fait in perso["faits"]:
        <hr><br/>
        <p>$:fait["prive"] &nbsp; &nbsp; <b>$fait["n"] . $fait["texte"]</b>  &nbsp; &nbsp; <button type="button" id="bfait$fait['id']">éditer</button></p>
    <hr><br/>
        <p><button type="button" id="baddfait">Ajouter des faits du simulacre</button></p>

        
    $if perso["liensp"] > 0:
        <h3>Liens</h3>

        <p><b><i>Points restants : $perso["lienspr"]</i></b></p>

        $for lien in perso["liens"]:
             <p>$:lien["prive"] &nbsp; &nbsp; <b>$lien["n"] . Je suis lié(e) à $lien["cible"] ($lien["valeur"])</b>  &nbsp; &nbsp; <button type="button" id="blien$lien['id']">éditer</button></p>
 
        <p></p>

        <p><button type="button" id="baddlien">Ajouter des lien</button></p>

        <h3><img style="vertical-align: middle;" src="static/private.png" height="32" width="32" alt="privé"> &nbsp; Objectifs</h3>

        $for obj in perso["objectifs"]:
             <p><b>$obj["n"] . $obj["texte"]</b> &nbsp; &nbsp; <button type="button" id="bobj$obj['id']">éditer</button></p>

        <p></p>

        <p><button type="button" id="baddobj">Ajouter un objectif</button></p>
             


   $if perso["resplioideM"] > 0:     
          <h3><img style="vertical-align: middle;" src="static/public.png" height="32" width="32" alt="publique"> &nbsp; Ma resplioïde</h3>

            <p><b>Ma resplioïde me protège de $perso["resplioideM"] blessures mortelles</b></p>

            <p><b>L'arme de ma resplioide inflige $perso["resplioideD"] blessures mortelles</b></p>
          
            $for fait in perso["resplioide"]:
                 <p><b>$fait["n"] . $fait["texte"]</b> &nbsp; &nbsp; <button type="button" id="bresp$fait['id']">éditer</button></p>

            <p><button type="button" id="baddresp">Ajouter des faits concernant ma resplioïde</button></p>
            
   <h3>Autres faits extra-personnels</h3>
    
   $for fait in perso["efaits"]:
        <p>$:fait["prive"] &nbsp; &nbsp; <b>$fait["n"] . $fait["texte"]</b> &nbsp; &nbsp; <button type="button" id="bextra$fait['id']">éditer</button></p>

   <p><button type="button" id="baddextra">Ajouter des faits extra-personnels</button></p>

        
   <h3><img style="vertical-align: middle;" src="static/private.png" height="32" width="32" alt="privé"> &nbsp; Faits de cellulis</h3>    

   $for fait in perso["cfaits"]:
       <p><b>$fait["n"] . $fait["texte"]</b> &nbsp; &nbsp; <button type="button" id="bcel$fait['id']">éditer</button></p>

   <p><button type="button" id="baddcel">Ajouter des faits de cellulis</button></p>

 
</div>


<div id="personnagebuttons">

  <p><b>Actualiser</b></p>
  <p><a href="/pannel2"><input type="button" value="Actualiser"></a></p>

  <p><b>Enregistrer</b></p>
  <p><input type="submit" value="Enregistrer"></p>

</form>
  
  <p><b>Rennomer</b></p>
  <p><button type="button" id="brename">Rennomer</p>
</div>

 <!-- Modal renommer-->
 <div id="renamemod" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
     <div class="modal-header">
       <span id="closerename" class="close">&times;</span>
       <h2>Rennomer le simulacre</h2>
     </div>
     <div class="modal-body">
       <form action="/reccellulisrm" method="POST">
         <p><input type="text" name="rename" value="$perso['nom']"></p>
         <p><input type="submit" value="Enregistrer"></p>
       </form>
     </div>
   </div>
 </div>
 <script>
   var renamemodal = document.getElementById("renamemod");
   var renamebtn = document.getElementById("brename");
   var renamespan = document.getElementById("renamemod").getElementsByClassName("close")[0];
   renamebtn.onclick = function() {
   renamemodal.style.display = "block";
   }
   
   renamespan.onclick = function() {
   renamemodal.style.display = "none";
   }
 </script>



$for fait in perso["faits"]:
     <!-- Modal -->
     <div id="editfait$fait['id']modal" class="modal">
       <!-- Modal content -->
       <div class="modal-content">
         <div class="modal-header">
           <span id="closefait$fait['id']" class="close">&times;</span>
           <h2>Éditer le fait</h2>
         </div>
         <div class="modal-body">
           <form action="/reccellulisrm" method="POST">
             <p><input type="text" class="large" name="faittxt" value="$fait['texte']">
               $if "public" in fait["prive"]:
                    <input type="checkbox" name="faitpublic" value="ok" checked>
               $else:
                    <input type="checkbox" name="faitpublic" value="ok">
               Publique &nbsp; &nbsp; &nbsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="faitdelete" value="ok"></p>
             <p><input type="submit" value="Enregistrer"></p>
             <input name="faitid" type="hidden" value="$fait['id']">
           </form>
         </div>
       </div>
     </div>
     <script>
       var fait$fait['id']modal = document.getElementById("editfait$fait['id']modal");
       var fait$fait['id']btn = document.getElementById("bfait$fait['id']");
       var fait$fait['id']span = document.getElementById("editfait$fait['id']modal").getElementsByClassName("close")[0];
       fait$fait['id']btn.onclick = function() {
       fait$fait['id']modal.style.display = "block";
       }
       
       fait$fait['id']span.onclick = function() {
       fait$fait['id']modal.style.display = "none";
       }
     </script>
     
 <!-- Modal ajout de fait-->
 <div id="addfaitmodal" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
     <div class="modal-header">
       <span id="closeaddfait" class="close">&times;</span>
       <h2>Nouveau faits</h2>
     </div>
     <div class="modal-body">
       <form action="/reccellulisrm" method="POST">
         <p><b>1.</b> <input type="text" class="large" name="addfaittxt1"> <input type="checkbox" name="addfaitpublic1" value="ok"> Publique</p>
         <p><b>2.</b> <input type="text" class="large" name="addfaittxt2"> <input type="checkbox" name="addfaitpublic2" value="ok"> Publique</p>
         <p><b>3.</b> <input type="text" class="large" name="addfaittxt3"> <input type="checkbox" name="addfaitpublic3" value="ok"> Publique</p>
         <p><input type="submit" value="Enregistrer"></p>
       </form>
     </div>
   </div>
 </div>
 <script>
   var addfaitmodal = document.getElementById("addfaitmodal");
   var addfaitbtn = document.getElementById("baddfait");
   var addfaitspan = document.getElementById("addfaitmodal").getElementsByClassName("close")[0];
   addfaitbtn.onclick = function() {
   addfaitmodal.style.display = "block";
   }
   
   addfaitspan.onclick = function() {
   addfaitmodal.style.display = "none";
   }
 </script>


$for lien in perso["liens"]:
     <!-- Modal -->
     <div id="editlien$lien['id']modal" class="modal">
       <!-- Modal content -->
       <div class="modal-content">
         <div class="modal-header">
           <span id="closelien$lien['id']" class="close">&times;</span>
           <h2>Éditer le lien</h2>
         </div>
         <div class="modal-body">
           <form action="/reccellulisrm" method="POST">
             <p> Je suis lié(e) à <input type="text" class="small" name="liencible" value="$lien['cible']">  (<input class="smallnumber" type="number" name="lienvaleur" max="10" min="0" value="$lien['valeur']">)
               $if "public" in lien["prive"]:
                    <input type="checkbox" name="lienpublic" value="ok" checked>
               $else:
                    <input type="checkbox" name="lienpublic" value="ok">
               Publique &nbsp; &nbsp; &nbsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="liendelete" value="ok"></p>
             <p><input type="submit" value="Enregistrer"></p>
             <input name="lienid" type="hidden" value="$lien['id']">
           </form>
         </div>
       </div>
     </div>
     <script>
       var lien$lien['id']modal = document.getElementById("editlien$lien['id']modal");
       var lien$lien['id']btn = document.getElementById("blien$lien['id']");
       var lien$lien['id']span = document.getElementById("editlien$lien['id']modal").getElementsByClassName("close")[0];
       lien$lien['id']btn.onclick = function() {
       lien$lien['id']modal.style.display = "block";
       }
       
       lien$lien['id']span.onclick = function() {
       lien$lien['id']modal.style.display = "none";
       }
     </script>
     
 <!-- Modal ajout de lien-->
 <div id="addlienmodal" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
     <div class="modal-header">
       <span id="closeaddlien" class="close">&times;</span>
       <h2>Nouveaux liens</h2>
     </div>
     <div class="modal-body">
       <form action="/reccellulisrm" method="POST">
         <p><b>1.</b> Je suis lié(e) à <input type="text" class="small" name="addliencible1"> (<input class="smallnumber" type="number" name="addlienvaleur1" max="10" min="0">) <input type="checkbox" name="addlienpublic1" value="ok"> Publique</p>
         <p><b>2.</b> Je suis lié(e) à <input type="text" class="small" name="addliencible2"> (<input class="smallnumber" type="number" name="addlienvaleur2" max="10" min="0">) <input type="checkbox" name="addlienpublic2" value="ok"> Publique</p>
         <p><input type="submit" value="Enregistrer"></p>
       </form>
     </div>
   </div>
 </div>
 <script>
   var addlienmodal = document.getElementById("addlienmodal");
   var addlienbtn = document.getElementById("baddlien");
   var addlienspan = document.getElementById("addlienmodal").getElementsByClassName("close")[0];
   addlienbtn.onclick = function() {
   addlienmodal.style.display = "block";
   }
   
   addlienspan.onclick = function() {
   addlienmodal.style.display = "none";
   }
 </script>



$for resp in perso["resplioide"]:
     <!-- Modal -->
     <div id="editresp$resp['id']modal" class="modal">
       <!-- Modal content -->
       <div class="modal-content">
         <div class="modal-header">
           <span id="closeresp$resp['id']" class="close">&times;</span>
           <h2>Éditer le fait conernant ma resplioide</h2>
         </div>
         <div class="modal-body">
           <form action="/reccellulisrm" method="POST">
             <p><input type="text" class="large" name="resptxt" value="$resp['texte']">  &nbsp; &nbsp; &nbsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="respdelete" value="ok"></p>
             <p><input type="submit" value="Enregistrer"></p>
             <input name="respid" type="hidden" value="$resp['id']">
           </form>
         </div>
       </div>
     </div>
     <script>
       var resp$resp['id']modal = document.getElementById("editresp$resp['id']modal");
       var resp$resp['id']btn = document.getElementById("bresp$resp['id']");
       var resp$resp['id']span = document.getElementById("editresp$resp['id']modal").getElementsByClassName("close")[0];
       resp$resp['id']btn.onclick = function() {
       resp$resp['id']modal.style.display = "block";
       }
       
       resp$resp['id']span.onclick = function() {
       resp$resp['id']modal.style.display = "none";
       }
     </script>
     
 <!-- Modal ajout de fait resplioide-->
 <div id="addrespmodal" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
     <div class="modal-header">
       <span id="closeaddresp" class="close">&times;</span>
       <h2>Nouveaux faits concernant ma resplioïde</h2>
     </div>
     <div class="modal-body">
       <form action="/reccellulisrm" method="POST">
         <p><b>1.</b> <input type="text" class="large" name="addresptxt1"> </p>
         <p><b>2.</b> <input type="text" class="large" name="addresptxt2"> </p>
         <p><input type="submit" value="Enregistrer"></p>
       </form>
     </div>
   </div>
 </div>
 <script>
   var addrespmodal = document.getElementById("addrespmodal");
   var addrespbtn = document.getElementById("baddresp");
   var addrespspan = document.getElementById("addrespmodal").getElementsByClassName("close")[0];
   addrespbtn.onclick = function() {
   addrespmodal.style.display = "block";
   }
   
   addrespspan.onclick = function() {
   addrespmodal.style.display = "none";
   }
 </script>



$for obj in perso["objectifs"]:
     <!-- Modal -->
     <div id="editobj$obj['id']modal" class="modal">
       <!-- Modal content -->
       <div class="modal-content">
         <div class="modal-header">
           <span id="closeobj$obj['id']" class="close">&times;</span>
           <h2>Éditer l'objectif</h2>
         </div>
         <div class="modal-body">
           <form action="/reccellulisrm" method="POST">
             <p><input type="text" class="large" name="objtxt" value="$obj['texte']">  &nbsp; &nbsp; &nbsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="objdelete" value="ok"></p>
             <p><input type="submit" value="Enregistrer"></p>
             <input name="objid" type="hidden" value="$obj['id']">
           </form>
         </div>
       </div>
     </div>
     <script>
       var obj$obj['id']modal = document.getElementById("editobj$obj['id']modal");
       var obj$obj['id']btn = document.getElementById("bobj$obj['id']");
       var obj$obj['id']span = document.getElementById("editobj$obj['id']modal").getElementsByClassName("close")[0];
       obj$obj['id']btn.onclick = function() {
       obj$obj['id']modal.style.display = "block";
       }
       
       obj$obj['id']span.onclick = function() {
       obj$obj['id']modal.style.display = "none";
       }
     </script>
     
 <!-- Modal ajout d'objectifs-->
 <div id="addobjmodal" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
     <div class="modal-header">
       <span id="closeaddobj" class="close">&times;</span>
       <h2>Nouveaux objectifs</h2>
     </div>
     <div class="modal-body">
       <form action="/reccellulisrm" method="POST">
         <p><b>1.</b> <input type="text" class="large" name="addobjtxt1"> </p>
         <p><b>2.</b> <input type="text" class="large" name="addobjtxt2"> </p>
         <p><input type="submit" value="Enregistrer"></p>
       </form>
     </div>
   </div>
 </div>
 <script>
   var addobjmodal = document.getElementById("addobjmodal");
   var addobjbtn = document.getElementById("baddobj");
   var addobjspan = document.getElementById("addobjmodal").getElementsByClassName("close")[0];
   addobjbtn.onclick = function() {
   addobjmodal.style.display = "block";
   }
   
   addobjspan.onclick = function() {
   addobjmodal.style.display = "none";
   }
 </script>





$for extra in perso["efaits"]:
     <!-- Modal -->
     <div id="editextra$extra['id']modal" class="modal">
       <!-- Modal content -->
       <div class="modal-content">
         <div class="modal-header">
           <span id="closeextra$extra['id']" class="close">&times;</span>
           <h2>Éditer le fait extra-personnel</h2>
         </div>
         <div class="modal-body">
           <form action="/reccellulisrm" method="POST">
             <p><input type="text" class="large" name="extratxt" value="$extra['texte']">
               $if "public" in extra["prive"]:
                    <input type="checkbox" name="extrapublic" value="ok" checked>
               $else:
                    <input type="checkbox" name="extrapublic" value="ok">
               Publique &nbsp; &nbsp; &nbsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="extradelete" value="ok"></p>
             <p><input type="submit" value="Enregistrer"></p>
             <input name="extraid" type="hidden" value="$extra['id']">
           </form>
         </div>
       </div>
     </div>
     <script>
       var extra$extra['id']modal = document.getElementById("editextra$extra['id']modal");
       var extra$extra['id']btn = document.getElementById("bextra$extra['id']");
       var extra$extra['id']span = document.getElementById("editextra$extra['id']modal").getElementsByClassName("close")[0];
       extra$extra['id']btn.onclick = function() {
       extra$extra['id']modal.style.display = "block";
       }
       
       extra$extra['id']span.onclick = function() {
       extra$extra['id']modal.style.display = "none";
       }
     </script>
     
 <!-- Modal ajout d'extraectifs-->
 <div id="addextramodal" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
     <div class="modal-header">
       <span id="closeaddextra" class="close">&times;</span>
       <h2>Nouveaux faits extra-personnels</h2>
     </div>
     <div class="modal-body">
       <form action="/reccellulisrm" method="POST">
         <p><b>1.</b> <input type="text" class="large" name="addextratxt1"> <input type="checkbox" name="addextrapublic1" value="ok"> Publique</p>
         <p><b>2.</b> <input type="text" class="large" name="addextratxt2"> <input type="checkbox" name="addextrapublic2" value="ok"> Publique</p>
         <p><input type="submit" value="Enregistrer"></p>
       </form>
     </div>
   </div>
 </div>
 <script>
   var addextramodal = document.getElementById("addextramodal");
   var addextrabtn = document.getElementById("baddextra");
   var addextraspan = document.getElementById("addextramodal").getElementsByClassName("close")[0];
   addextrabtn.onclick = function() {
   addextramodal.style.display = "block";
   }
   
   addextraspan.onclick = function() {
   addextramodal.style.display = "none";
   }
 </script>




$for cel in perso["cfaits"]:
     <!-- Modal -->
     <div id="editcel$cel['id']modal" class="modal">
       <!-- Modal content -->
       <div class="modal-content">
         <div class="modal-header">
           <span id="closecel$cel['id']" class="close">&times;</span>
           <h2>Éditer le fait de cellulis</h2>
         </div>
         <div class="modal-body">
           <form action="/reccellulisrm" method="POST">
             <p><input type="text" class="large" name="celtxt" value="$cel['texte']"> &nbsp; &nbsp; &nbsp; <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="celdelete" value="ok"></p>
             <p><input type="submit" value="Enregistrer"></p>
             <input name="celid" type="hidden" value="$cel['id']">
           </form>
         </div>
       </div>
     </div>
     <script>
       var cel$cel['id']modal = document.getElementById("editcel$cel['id']modal");
       var cel$cel['id']btn = document.getElementById("bcel$cel['id']");
       var cel$cel['id']span = document.getElementById("editcel$cel['id']modal").getElementsByClassName("close")[0];
       cel$cel['id']btn.onclick = function() {
       cel$cel['id']modal.style.display = "block";
       }
       
       cel$cel['id']span.onclick = function() {
       cel$cel['id']modal.style.display = "none";
       }
     </script>
     
 <!-- Modal ajout d'celectifs-->
 <div id="addcelmodal" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
     <div class="modal-header">
       <span id="closeaddcel" class="close">&times;</span>
       <h2>Nouveaux faits de cellulis</h2>
     </div>
     <div class="modal-body">
       <form action="/reccellulisrm" method="POST">
         <p><b>1.</b> <input type="text" class="large" name="addceltxt1"></p>
         <p><b>2.</b> <input type="text" class="large" name="addceltxt2"></p>
         <p><input type="submit" value="Enregistrer"></p>
       </form>
     </div>
   </div>
 </div>
 <script>
   var addcelmodal = document.getElementById("addcelmodal");
   var addcelbtn = document.getElementById("baddcel");
   var addcelspan = document.getElementById("addcelmodal").getElementsByClassName("close")[0];
   addcelbtn.onclick = function() {
   addcelmodal.style.display = "block";
   }
   
   addcelspan.onclick = function() {
   addcelmodal.style.display = "none";
   }
 </script>


 
 

 
     


     
<script>
  window.onclick = function(event) {
      $for fait in perso["faits"]:
           if (event.target == fait$fait['id']modal) {
               fait$fait['id']modal.style.display = "none";
           }
      $for lien in perso["liens"]:
           if (event.target == lien$lien['id']modal) {
               lien$lien['id']modal.style.display = "none";
           }
      $for resp in perso["resplioide"]:
           if (event.target == resp$resp['id']modal) {
               resp$resp['id']modal.style.display = "none";
           }
      $for obj in perso["objectifs"]:
           if (event.target == obj$obj['id']modal) {
               obj$obj['id']modal.style.display = "none";
           }
      $for extra in perso["efaits"]:
           if (event.target == extra$extra['id']modal) {
               extra$extra['id']modal.style.display = "none";
      }
      $for cel in perso["cfaits"]:
           if (event.target == cel$cel['id']modal) {
               cel$cel['id']modal.style.display = "none";
      }
  
      if (event.target == addfaitmodal) {
           addfaitmodal.style.display = "none";
      }
      if (event.target == addlienmodal) {
           addlienmodal.style.display = "none";
      }
      if (event.target == addrespmodal) {
           addrespmodal.style.display = "none";
      }
      if (event.target == renamemodal) {
           renamemodal.style.display = "none";
      }
      if (event.target == addobjmodal) {
           addobjmodal.style.display = "none";
      }
      if (event.target == addextramodal) {
           addextramodal.style.display = "none";
      }
      if (event.target == addcelmodal) {
           addcelmodal.style.display = "none";
      }
  }
</script>
