$def with (nom,cle,cellulis,perso)

<section id="intro">
<h2>Bienvenue, $nom</h2>
</section>

<section id="account">
  <ul>
    <li><a href="logout">Déconnexion</a></li>
    <li><a href="account">Paramètres du compte</a></li>
    <li><a href="pannel">Déterminations</a></li>
  </ul>
</section>

<div id="pannelwrapper">
<section>
  <p class="center">Identifiant de la détermination : $cle (Cellulis)</p>
</section>

<section id="cellulis">

  <h3>Simulacres</h3>
 
<div id="list">
  <ul class="outter">
    $for cel in cellulis:
    <li>$cel.nom ($cel.login)</li>
    <ul class="inner">
      $for pers in cel.personnages:
      <li><a href="pannel2?perso=$pers.id">$pers.nom</a></li>
    </ul>
  </ul>
</div>
</section>


<section id="personnage">
$if perso:
    $:perso

</section>
<div id="clear"></div>
</div>
