/* Glabal graphics */

* {
	margin: 0;
	padding: 0;
}

header, footer, aside, nav, article {
	display: block;
}

section {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}


body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font: 14px/20px Deja vu Sans, Arial, sans-serif;
	/*background: #fdfcfa;*/
    background: #f2f2f7;
}

h1 {
	font: 30px/28px Arial, sans-serif;
	line-height: 44px;
	padding: 22px 0;
    text-align: center;
}

h2 {
	font-size: 22px;
	line-height: 22px;
	padding: 11px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}


input[type="text"].large{
    width: 600px;
}


input[type="text"].small{
    width: 200px;
}

input.smallnumber{
    width: 40px;
}

/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {
	position: relative; 
	margin-top: 33px;
    margin-bottom: 22px;
    margin: 0 auto;
    text-align: center; 
    
}

#intro h2, #intro p {
    font-size: 15px;
	position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
	z-index: 9999;
}
	
#intro h2 {
	padding: 0 0 22px 0;
	font-weight: normal;
    font-size: 20px;
    font-weight: bold;
	color: #997639;
    text-align: center;
}
	
#intro p {
	padding: 0;
	color: #4d4c4a;
}

/*------------------------------
=User
-------------------------------*/

#account {
    position: relative;
	margin-top: 10px;
    margin-bottom: 20px;
	padding: 28px;
	background: #b4b0e1;
    background-size: 100%;
    width: 940px;
	border-radius: 16px;
}

#account ul {
	margin: 0 auto;
	width: 700px;
	list-style: none; 
}

#account ul li {
	float: right;
}
		
#account ul li a {
	display: block;
    margin-top: -10px;
	margin-right: 30px;
	width: 200px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;

	color: #585858;
}
			
#account ul li a:hover {
	color: #fff;
}

#account ul li.selected a {
	color: #fff;
}
			

/*------------------------------
=LISTS
------------------------------*/

#list{
}

#list div{
    display: list-item;
}

#list ul.outter{
    list-style-type: square;
    padding: 10px 0px 5px 0px;
}

#list ul.outter li{
    margin: 5px;
}

#list ul.inner{
    list-style-type: disc;
    padding: 5px 0px 10px 30px;
}

#list ul.inner li{
    margin: 5px;
}

/*------------------------------
=CENTERING
------------------------------*/

div.center{
    width: 430px;
    margin: 0 auto;
}

div.scenter{
    width: 200px;
    margin: 0 auto;
}

div.lcenter{
    width: 530px;
    margin: 0 auto;
}


p.center{
    text-align: center;
}

/*------------------------------
=COLUMNS
------------------------------*/

#wrapper{
    width: 750px;
    margin: 0 auto;
}


#colone{
    float: left;
    width: 380px;
    text-align: center;
}

#coltwo{
    float: left;
    width: 370px;
    text-align: center;
}

#clear{
    clear: both;
}

/*------------------------------
=PERSONNAGES
------------------------------*/

#pannelwrapper{
/*    width: 940px;*/
    margin: 0 auto;
}

#cellulis{
    width: 180px;
    float: left;
    text-align: center;
}

#personnage{
    width: 760px;
    float: left;
    text-align: center;
}

#personnagecore{
    width: 690px;
    float: left;
    text-align: center;
}

#personnagebuttons{
    width: 70px;
    float: left;
    text-align: center;
}

#personnagebuttons a{
    text-decoration: none;
}

#personnagecore input.smallnumber{
    width: 40px;
}

#personnagecore input.largenumber{
    width: 50px;
}

#personnagecore input[type="text"]{
    width: 600px;
}

#personnagecore input[type="text"].nom{
    width: 500px;
}

#personnagecore table{
    margin-left:auto; 
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 650px;
}

#personnagecore table, #personnagecore th, #personnagecore td{
    border: 3px solid black;
    text-align: center;
    vertical-align: center;
    padding: 5px 10px;
    font-size: 16px;
}


/*------------------------------
=FOOTER
------------------------------*/
footer {
	position: absolute;
	width: 100%;
    left: 0;
	background: #000000;
    text-align: center;
}

footer section {
	display: table;
	margin: 0 auto;
	padding: 20px 0;
	width: 940px;
	color: #777;
}
	
		
footer h3 {
	color: #FFF;
}
	
footer a {
	color: #999;
}
	
footer a:hover {
	color: #FFF;
	text-decoration: none;
}


/*

Modal

*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #000000;
    color: white;
}

.modal-body {padding: 16px 16px;}
