$def with (form,user,failed)

<section id="intro">
$if failed:
    <script>
        alert("Mauvaise clé de détermination")  
    </script>

<h2>Edition du compte cellulis de $user.nom</h2>

<p>Clé de détermination requise pour valider les modifications.</p>
</section>

<section>
  <div id="wrapper">
    <div id="colone">
      <form action="/account" method="post">
        $:form.render()
        <p class="center"><b>Supprimer le compte</b> (cochez toutes les cases)<br/>
          <i>Attention : TOUS les simulacres seront anihilés.</i><br/>
          <img src="static/delete.png" height="16" width="16"> <input type="checkbox" name="suppr1" value="ok"> <input type="checkbox" name="suppr2" value="ok"> <input type="checkbox" name="suppr3" value="ok"></p>
        <p class="center"><input type="submit" value="Modifier le compte"></p>
      </form>
    </div>
    <div id="coltwo">
      <p></p>
      <p class="center">Login : $user.login</p>
      <p class="center">E-mail : $user.email</p>
      <p class="center">Laissez un champ vide pour ne pas le modifier.</p>
      <p class="center"><a href="/pannel">Retourner au panneau d'acceuil</a></p>
    </div>
    <div id="clear"></div>
  </div>
</section>
