$def with (form,error)

<section id="intro">
<h2>Clé de détermination perdue</h2>
$if error == "2":
    <script>
        alert("Impossible de réinitialiser la clé\nAucun compte ne correspond à ce login")  
    </script>  
$if error == "1":
    <script>
        alert("Impossible de réinitialiser la clé\nL'adresse e-mail n'est pas valide ou ne correspond pas à celle du compte")  
    </script>  
$if error == "3":
    <script>
        alert("Réinitialisation de la clé\nUn e-mail a été envoyé avec une nouvelle clé. Changez la dès que possible")  
    </script>  
$if error == "4":
    <script>
        alert("Impossible de réinitialiser la clé\nCette fonctionalité a été désactivée par l'administrateur")  
    </script>  


<p>Entrez votre login et votre e-mail tels que spécifiés lors de l'inscription</p>
</section>

<section>
  <div class="center">
    <form action="/forget" method="post">
      $:form.render()
      <p></p>
      <p class="center"><input type="submit" value="Réinitialiser la clé"></p>
    </form>
  </div>
</section>
