$def with (form,failed=False)

<section id="intro">
$if failed:
    <script>
        alert("Erreur d'authentification, veuillez réessayer.")    
    </script>


<h2>Présence détectée</h2>

<p>Demande de liaison avec Cellulis pour identifiant de détermination</p>

</section>

<section>
  <div class="center">
    <form action="/" method="post">
      $:form.render()
      <p class="center"><input type="submit" value="Déterminer"></p>
    </form>
  </div>
  <div id="wrapper">
    <div id="colone">
      <p><a href="forget">Clé de détermination égarrée</a></p>
    </div>
    <div id="coltwo">
      <p><a href="neant">Enregistrer un nouveau Cellulis</a></p>
    </div>
    <div id="clear"></div>
  </div>
</section>
