$def with (form,failed=False)

<section id="intro">
$if failed:
    <script>
        alert("Erreur d'enregistrement\nCe cellulis est déjà enregistré")
    </script>

<h2>Enregistrement d'un nouveau cellulis</h2>

<p>Demande des informations primordiales pour enregistrement du Cellulis</p>
</section>

<section>
  <div class="center">
    <form action="neant" method="post">
      $:form.render()
      <p></p>
      <p class="center"><input type="submit" value="Enregistrer"></p>
    </form>
  </div>
</section>
